/* media quary */

@media screen and (max-width: 991px) {
    h3{
        font-size: 1.2rem;
    }
    .main-nav{
        overflow: initial;
    }
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }
    .nav-links{
        position: absolute;
        background-color: rgb(255, 255, 255);
        right: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        transition: 0.2s ease-in-out;
    }
    .nav-links.active{
        right: 0;
    }
    .nav-links ul{
        flex-direction: column;
    }
    .ex-area{
        gap: 20px;
    }
    .ex-card{
        width: calc(50%-10px);
        height: 180px;
    }
    .cta-sec{
        padding-block: 80px;
    }
    .footer-logo{
        width: 100%;
    }
    .footer-sec{
        flex-wrap: wrap;
        gap: 40px;
        text-align: center;
        justify-content: space-between;
        padding: 0 50px;
    }
}

@media screen and (max-width: 767px) {
    .primary-btn{
        width: 60%;
    }
    #nav-btn{
        width: 100%;
    }
    .header-sec{
        flex-direction: column-reverse;
    }
    .header-left{
        width: 85vw;
        text-align: center;
    }
    .features-sec{
        background-image: none;
    }
    .features-area{
        gap: 40px;
    }
    .features-card{
        min-width: calc(50% - 40px);
    }
    .big-fec , #big-fec{
        flex-direction: column;
    }
    .ex-card{
        width: calc(50% - 10px);
    }

}

@media screen and (max-width: 479px) {
    :root{
        --padding-inline-section: 10px;
    }
    .features-header{
        margin-bottom: 60px;
    }
    .features-area{
        gap: 30px;
    }
    .features-card{
        min-width: 100%;
    }
    .features-sec{
        padding: 40px var(--padding-inline-section) 50px;
    }
    .ex-card{
        width: 100%;
    }
    .ex-sec{
        padding: 30px var(--padding-inline-section);
    }
    .footer-sec{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px;
        align-items: center;
    }
    .link-colum{
        align-items: center;
    }
}
